/*
Arquivos de CSS(Cascade Style Sheet-Folha de estilo em cascata) 
são ultilizada para formatar página html. Enquanto as 
páginas criam a estrutura de um site, o css,cpor sua vez, realiza
a forma do conteúdo em html 
*/

h1 {
  font-family: "arial"; /*tipo de letra*/
  font-size: 15pt; /*O tamanho da letra .p->pontos |mesmo do word*/
  color: darkred; /*cor da tela*/
  text-align: "center"; /*alinhar o texto ao centro*/
}
img {
  width: 300px; /* largura da imagem*/
  height: 350; /* autura da imagem*/
  opacity: 0.5; /*efeito de transparencia em 50%*/
  transition: ease 1s; /*efeito de tarnsição(animação) de um segundo*/
}
img:hover {
  transform: rotate(360deg); /*rotacionar em 360 graus*/
  opacity: 1;
  border-radius: 100px; /*arredondar os cantos da imagem*/
}
p {
  font-family: "ariel";
  font-size: 10pt;
  text-align: "justfy";
}
